{% extends 'base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% load static %}


{% block content %}
<section class="home-landing">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mw-50 pl-5">
                <h2 class="display-3 pt-5 text-white">Hi, I'm Stephen.</h2>
                <p class="display-5 text-white pt-0">A front-end focused web developer and recent graduate from Code Institute.<br> Passionate about learning new technologies and improving my skills. <br>Currently based in Dublin, open to new oppertunities and exciting projects.</p>
                <button class="btn btn-clear text-white mr-3">Reach out</button>
                <button class="btn btn-clear text-white">Vist Github</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid about-container">
        <div class="row">
            <div class="col-12">
                <h2 class="display-5 text-black">About Me.</h2>
            </div>
        </div>
    </div>
</section>

{% endblock  %}