{% extends 'base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% load static %}

===
{% block content %}
<section class="home-landing">
    <div class="container-fluid">
        <div class="landing-image"></div>
        <div class="row">
            <div class="col-12">
                <div class="intro-container">
                    <h2 class="display-5 pt-5 text-black font-weight-bold text-center heading-sizing" id="name-landing">Hi, I'm Stephen.</h2>
                    <p class="text-center text-black pt-0 pt-3 intro-paragraph">A passionate and aspiring software engineer based in Dublin.<br> Excited about learning new technologies and improving my skills. <br>Always open to new opportunities and exciting projects.</p>
                    <div class="row justify-content-center pt-5">
                        <a rel="noopener" href="mailto:s.r.seagrave@gmail.com" class="btn btn-clear text-black mr-3">Reach out</a>
                        <a rel="noopener" href="https://www.github.com/nemixu" target="_blank" class="btn btn-clear text-black">Visit Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About section-->
<section>
    <div class="container-fluid about-container" id="about">
        <div class="row">
            <div class="col-12">
                <h2 class="display-5 text-black text-center font-weight-bold heading-sizing">About Me.</h2>
                <p class="text-justify pt-3 about-text intro-paragraph">A software developer and recent graduate from Code Institute.
                I started my journey in software development just over 12 months ago,
                with a huge drive to challenge myself and learn as much as possible.
                I have a strong passion for technology and my goal is to deliver accessible applications which conform to web standards.
                </p>
            </div>
            <div class="col-12">
                <h4 class="text-black about-text pt-5 technologies-text">Technologies I use :</h4>
            </div>
            <div class="col-12 text-center tech-icons">
                <i class="fab fa-python icon-size"></i>
                <div class="d-none tech-paragraph">
                    Django, flask              
                </div>
                <i class="fab fa-js-square icon-size"></i>
                <div class="d-none tech-paragraph">I used this before</div>
                <i class="fab fa-react icon-size"></i>
                <div class="d-none tech-paragraph">I used this before</div>
                <i class="fab fa-html5 icon-size"></i>
                <div class="d-none tech-paragraph">I used this before</div>
                <i class="fab fa-css3-alt icon-size"></i>
                <div class="d-none tech-paragraph">I used this before</div>
                <i class="fab fa-sass icon-size"></i>
                <div class="d-none tech-paragraph">I used this before</div>
            </div>
        </div>
    </div>
</section>
<!--Projects Section-->
<section class="projects" id="work">
    <div class="container-fluid projects-container">
        <div class="row">
            <div class="col-12">
                <h2 class="display-5 text-black text-center font-weight-bold pb-3 heading-sizing">Some of my work.</h2>  
            </div>
        </div>    
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <figure class="gallery-image">
                <img src="{% static "images/dn-fitness.png" %}" alt="fitness app picture" class="img-element">
                    <figcaption>
                    <h5>DN-Fitness</h5>
                    <p class="projects-text">Django / JavaScript / Stripe</p>
                    <a rel="noopener" href="https://github.com/nemixu/Milestone4" target="_blank" class="project-links pr-4" aria-label="DN fitness github link"><i class="fab fa-github"></i></a>
                    <a rel="noopener" href="https://dn-fitness.herokuapp.com/" target="_blank" class="project-links" aria-label="Dn fitness heroku link" ><i class="fas fa-external-link-alt"></i></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <figure class="gallery-image">
                <img src="{% static "images/triviarooms.png" %}" alt="Trivia Js img" class="img-element">
                    <figcaption>
                    <h5>Trivia Rooms</h5>
                    <p class="projects-text">JavaScript / Bootstrap</p>
                    <a rel="noopener" href="https://github.com/nemixu/trivia-rooms" target="_blank" class="project-links pr-4" aria-label="trivia rooms github link"><i class="fab fa-github"></i></a>
                    <a rel="noopener" href="https://nemixu.github.io/trivia-rooms/" target="_blank" class="project-links" aria-label="trivia rooms live site link"><i class="fas fa-external-link-alt"></i></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <figure class="gallery-image">
                <img src="{% static "images/fibro.png" %}" alt="fibro" class="img-element">
                    <figcaption>
                    <h5>Fibromyalgia</h5>
                    <p class="projects-text">HTML5 / CSS3 / Bootstrap</p>
                    <a rel="noopener" href="https://github.com/nemixu/Milestone1" target="_blank" class="project-links pr-4" aria-label="Fibromyalgia github link"><i class="fab fa-github"></i></a>
                    <a rel="noopener" href="https://nemixu.github.io/Milestone1/" target="_blank" class="project-links" aria-label="movies manager live site link"><i class="fas fa-external-link-alt"></i></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <figure class="gallery-image">
                <img src="{% static "images/movies-manager.png" %}" alt="fibro" class="img-element">
                    <figcaption>
                    <h5>Movies Manager</h5>
                    <p class="projects-text">Python / Flask / Boostrap</p>
                    <a rel="noopener" href="https://github.com/nemixu/Movies-Manager" target="_blank" class="project-links pr-4" aria-label="movies manager github link"><i class="fab fa-github"></i></a>
                    <a rel="noopener" href="https://movie-manager-flask.herokuapp.com/" target="_blank" class="project-links" aria-label="movies manager heroku link"><i class="fas fa-external-link-alt"></i></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <figure class="gallery-image">
                <img src="{% static "images/airport.png" %}" alt="Airport Auto Electrics" class="img-element">
                    <figcaption>
                    <h5>Airport Auto Electrics</h5>
                    <p class="projects-text">HTML / CSS / Boostrap / JS</p>
                    <a rel="noopener" href="https://github.com/nemixu/airport-autoelectrics" target="_blank" class="project-links pr-4" aria-label="Airport auto electrics github link"><i class="fab fa-github"></i></a>
                    <a rel="noopener" href="https://nemixu.github.io/airport-autoelectrics" target="_blank" class="project-links" aria-label="Airport auto electris live link"><i class="fas fa-external-link-alt"></i></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <figure class="gallery-image">
                <img src="{% static "images/gifapp.PNG" %}" alt="gif app" class="img-element">
                    <figcaption>
                    <h5>Gif Generator</h5>
                    <p class="projects-text">JavaScript</p>
                    <a rel="noopener" href="https://github.com/nemixu/giphy-app-2" target="_blank" class="project-links pr-4" aria-label="Gify generator github link"><i class="fab fa-github"></i></a>
                    <a rel="noopener" href="https://nemixu.github.io/giphy-app-2/" target="_blank" class="project-links" aria-label="Gify live link"><i class="fas fa-external-link-alt"></i></a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!--Contact Section-->
<section id="contact">
    <div class="container-fluid contact-container">
        <div class="row">
            <div class="col-12">
                <h2 class="display-5 text-black text-center font-weight-bold pb-3 heading-sizing">Contact me.</h2>
            </div>
            <div class="col-12 text-center">
                <p class="mx-5 text-left pb-3 intro-paragraph">If you would like to get in touch, talk to me about a project collaboration or just say hi, click the button below.</p>
                <a rel="noopener" href="mailto:s.r.seagrave@gmail.com" class="btn btn-danger text-white mr-3 text-center">Reach out</a>
            </div>
        </div>    
    </div>
</section>

<!--To top button-->
<div class="totop-button shadow-sm rounded-circle" id="top-button">
    <a class="totop-link d-flex h-100" aria-label="to top button" onclick="window.scrollTo(0, 0)">
        <i class="fas fas fa-arrow-up text-white mx-auto my-auto" aria-label="icon"></i>
    </a>   
</div>

{% endblock  %}