{% extends 'base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% load static %}


{% block content %}
<section class="home-landing">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="display-3 pt-5 text-white font-weight-bold text-center">Hi, I'm Stephen.</h2>
                <p class="display-5 text-center text-white pt-0 pt-3">A front-end focused web developer and recent graduate from Code Institute.<br> Passionate about learning new technologies and improving my skills. <br>Currently based in Dublin, open to new oppertunities and exciting projects.</p>
                <div class="row justify-content-center pt-5">
                <button class="btn btn-clear text-white mr-3">Reach out</button>
                <button class="btn btn-clear text-white">Vist Github</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid about-container">
        <div class="row">
            <div class="col-12">
                <h2 class="display-3 text-black text-center font-weight-bold">About Me.</h2>
                <p class="text-justify pt-3 about-text">A front-end focused web developer and recent graduate from Code Institute.
                I started my journey in web development just over 12 months ago,
                as I sat in work adivsing individuals on what career path to take
                I found myself wondering why I am not chasing my own dream.
                Fast forward 12 months and still breaking everything I touch,
                I now have such an itch to try new things and push myself to learn and continue to
                build on my current rookie knowledge.
                Currently self teaching React with Redux, hooks and graphQL to
                try keep relevant in the industry with hope of chasing a career building clean applications.
                </p>
            </div>
            <div class="col-12">
            <h4 class="text-black about-text pt-5">Technologies I use :</h4>
            <div class="col-12 about-text text-black pt-3">
                <i class="fab fa-python icon-size"></i>
                <i class="fab fa-js-square icon-size"></i>
                <i class="fab fa-react icon-size"></i>
                <i class="fab fa-html5 icon-size"></i>
                <i class="fab fa-css3-alt icon-size"></i>
                <i class="fab fa-sass icon-size"></i>
                <i class="fab fa-bootstrap icon-size"></i>
                <i class="fab fa-git-square icon-size"></i>
            </div>
            
        </div>
    </div>
</section class="projects">
    <div class="container-fluid projects-container">
        <div class="row">
            <div class="col-12">
                <h2 class="display-3 text-white text-center font-weight-normal">Some of my work.</h2>
            </div>
            <div class="col-12 about-text">
                <div class="row pb-3">
                    <div class="col-sm-12 col-md-4">
                        <img class="project-pictures" src="static/images/fibro.png" alt="fibro">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img class="project-pictures" src="static/images/airport.png" alt="fibro">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img class="project-pictures" src="static/images/triviarooms.png" alt="fibro">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <img class="project-pictures" src="static/images/dn-fitness.png" alt="fibro">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img class="project-pictures" src="static/images/movies-manager.png" alt="fibro">
                    </div>
                </div>
            </div>
        </div>
    </div>
<section>
   
</section>
{% endblock  %}