<!--Icon Sidebar-->
{% load static %}
<div class="side-bar">
    <li class="nav-main-list-items side-bar-icon"><a class="text-white font-weight-bold" aria-label="contact" href="#"><i class="fab fa-github"></i></a></li>
    <li class="nav-main-list-items side-bar-icon"><a class="text-white font-weight-bold" aria-label="contact" href="#"><i class="fas fa-file-pdf"></i></a></li>
    <li class="nav-main-list-items side-bar-icon"><a class="text-white font-weight-bold" aria-label="contact" href="#"><i class="fab fa-linkedin-in"></i></a></li>
</div>
