<!--Icon Sidebar-->
{% load static %}
<div class="side-bar" id="side-bar-main">
    <li class="nav-main-list-items side-bar-icon"><a class="text-white font-weight-bold" aria-label="contact" href="https://www.github.com/nemixu" target="_blank"><i class="fab fa-github"></i></a></li>
    <li class="nav-main-list-items side-bar-icon"><a class="text-white font-weight-bold" aria-label="contact" href="https://www.linkedin.com/in/steseagrave/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
</div>
