{% load static %}

<nav class="nav-main fixed-top w-100">
    {% comment %} <div class="nav-main-logo">
        <a aria-label="Home" href="#">
            <img class="title-logo" src="#" alt="Stevo Portfolio">
        </a>
    </div> {% endcomment %}
    <div class="nav-main-inner">
        <div class="nav-main-list">
            <ul class="nav-main-list-container">
                <li class="nav-main-list-items pr-5"><a class="text-white font-weight-bold" aria-label="home" href="#">Work</a></li>
                <li class="nav-main-list-items pr-5"><a class="text-white font-weight-bold" aria-label="classes" href="#">About</a></li>
                <li class="nav-main-list-items"><a class="text-white font-weight-bold" aria-label="contact" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>