{% load static %}

<nav class="nav-main fixed-top w-100">
    {% comment %} <div class="nav-main-logo">
        <a aria-label="Home" href="#">
            <img class="title-logo" src="#" alt="Stevo Portfolio">
        </a>
    </div> {% endcomment %}
    <div class="nav-main-inner">
        <div class="nav-main-list">
            <ul class="nav-main-list-container">
                <li class="nav-main-list-items pr-4"><a class="text-white font-weight-bold" aria-label="about" href="#about" id="about-btn">About</a></li>
                <li class="nav-main-list-items pr-4"><a class="text-white font-weight-bold" aria-label="work" href="#work" id="work-btn">Work</a></li>
                <li class="nav-main-list-items pr-4"><a class="text-white font-weight-bold" aria-label="contact" href="#contact" id="contact-btn">Contact</a></li>
                <li class="nav-main-list-items"><a class="text-white font-weight-bold" aria-label="cv" href="{% static "files/cv.pdf" %}" target="_blank">CV</a></li>
            </ul>
        </div>
    </div>
</nav>